<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Пес с лицом старика</title>
	</head>
	<body>
		<h1>Пес с лицом старика</h1>
		<img src="https://icdn.lenta.ru/images/2018/08/22/12/20180822125416266/detail_bfc3c1b3720b5bbb0ae2f019d89e5a20.jpg" width="300" alt="Пес с лицом старика">
		<div>
			<p>В сети набрал популярность аккаунт пса по кличке <strong>Бэкон</strong>, чья морда, как считают его подписчики в <a href="https://www.instagram.com/thebaconator/"><em>Instagram</em></a>, поразительно похожа на лицо пожилого человека.</p>
			<br>
			<p>Хозяева называют <del>деда</del> питомца с чрезвычайно выразительными чертами <mark>«старина Бэкон»</mark>.</p>
		</div>
	</body>
</html>
